#container-box{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    height:200px;
    width: 70px;
}

.box{
    border: 1px solid brown;
    height: auto;
    width: auto;
    
}
.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(5){
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:3px;
}

.smallbox{
   border: 1px solid burlywood;
   gap: 5px;
}

img{
    height: 237.5px;
    width: 243.5px;
}

.img1{
   height: 496px;
   width:492px;
}