body {
  background: #ececec;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 16px;
}

.add-btn {
  padding: 10px 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.add-btn:hover {
  background: darkgreen;
}

.list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.list-item {
  background: white;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  transition: 0.2s;
}

.list-item:hover {
  transform: scale(1.02);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.delete-btn {
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.delete-btn:hover {
  background: darkred;
}
